@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(https://fonts.gstatic.com/s/arimo/v11/HNu4Nzh6q8Es60EMNZhs9w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v11/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 18px;
}

#top-bar {
  height: 3.55rem;
  padding: 0 1.33rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 1.78rem;
  display: flex;
  align-items: center;
}

.logo-title {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin-left: 0.25rem;
}

span.bold {
  font-weight: bold;
}

nav {
  display: flex;
}

nav a {
  margin: 0 8px;
  font-family: Arimo, sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: #000000;
  transition: all 0.5s ease-out;
}

nav a:hover {
  color: #052E8C;
  font-weight: bold;
}

nav a:last-child {
  margin-right: 0;
}

nav img {
  display: none;
}

nav img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 635px) {
  nav a {
    display: none;
  }

  nav img {
    display: block;
  }
}

@media only screen and (max-width: 385px) {
  .logo-title {
    display: none;
  }
}

#banner {
  padding: 1.78rem 1.33rem;
  background-color: #E2DEDE;
  display: flex;
}

.banner-img {
  width: 60%;
  height: 100%;
  padding-right: 1.33rem;
}

.banner-description {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-title {
  margin-bottom: 25px;
  font-size: 2rem;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  opacity: 0.7;
}

.banner-subtitle {
  margin-bottom: 25px;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.6;
}

.banner-btn button {
  background-color: #4C3300;
  color: white;
  padding: 0.44rem 0;
  width: 100%;
  border: 0;
  font-family: Muli, sans-serif;
  font-size: 0.8rem;
}

.banner-btn button:hover {
  cursor: pointer;
  background-color: #887800;
  transition: background-color 0.5s ease-out 0.2s;
}

@media only screen and (max-width: 750px) {
  #banner {
    padding: 0;
    display: block;
  }

  .banner-img {
    width: 100%;
    padding-right: 0;
  }

  .banner-description {
    width: 100%;
    padding: 1.78rem 0.89rem;
    box-sizing: border-box;
  }
}

main {
  font-family: Open Sans, sans-serif;
}

#information {
  display: flex;
  background-color: #F1F0EE;
}

.info-main {
  padding: 1.78rem 1.33rem;
  width: 60%;
}

.info-main img {
  width: 100%;
}

.info-main-header {
  padding: 1.78rem 0 1.33rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 0.7;
}

.info-main-content {
  padding-bottom: 1.78rem;
  font-size: 0.8rem;
  opacity: 0.7;
}

.info-main-footer {
  font-size: 0.6rem;
  opacity: 0.7;
}

.info-side {
  width: 40%;
  padding-top: 1.78rem;
  border-left: 0.01rem solid #C6C6C6;
}

.info-element {
  display: flex;
  padding: 0.8rem;
  border-top: 0.01rem solid #C6C6C6;
  border-bottom: 0.01rem solid #C6C6C6;
  transition: background-color 0.5s ease-out 0.2s;
  align-items: center;
}

.info-element:hover {
  background-color: #C6C6C6;
}

.info-element img {
  width: 35%;
  height: 100%;
}

.info-element img.mobile {
  display: none;
}

.info-side-description {
  width: 65%;
  padding: 0 1rem;
}

.info-side-header {
  margin-bottom: 0.5rem;
  font-weight: bold;
  opacity: 0.7;
}

.info-side-content {
  margin-bottom: 0.9rem;
  font-size: 0.7rem;
  opacity: 0.7;
}

.info-side-link {
  font-size: 0.7rem;
}

.info-side-link a {
  text-decoration: none;
}

@media only screen and (max-width: 630px) {
  .info-main {
    display: none;
  }

  .info-side {
    width: 100%;
    padding-top: 0;
    bor
  }

  .info-element {
    display: block;
    border: none;
  }

  .info-element img {
    width: 100%;
  }

  .info-element img.desktop {
    display: none;
  }

  .info-element img.mobile {
    display: block;
  }

  .info-side-description {
    padding: 0;
  }

  .info-side-header {
    margin-top: 0.5rem;
  }
}

#courses {
  padding: 1.78rem 4rem;
  background-color: #E6E1D6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-header, .exhibit-header {
  margin-bottom: 1.78rem;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  opacity: 0.7;
}

.course-row {
  display: flex;
  margin-bottom: 1.78rem;
  width: 100%;
}

.course-row:last-child {
  margin-bottom: 0;
}

.course {
  background-color: #FFFFFF;
  width: 33%;
  margin-right: 1.78rem;
  transition: background-color 0.5s ease-out 0.2s;
}

.course:hover {
  background-color: #EEEDED;
  cursor: pointer;
}

.course:last-child {
  margin-right: 0;
}

.course img {
  width: 100%;
  min-height: 4.44rem;
}

.course-description {
  position: relative;
  top: -2px;
  padding: 0.89rem 0.89rem 1.33rem 0.89rem;
}

.course-title {
  font-weight: bold;
  font-size: 1.1rem;
  opacity: 0.7;
}

.course-list-header {
  margin: 0.8rem 0;
  font-size: 0.8rem;
  opacity: 0.7;
}

.course-list {
  font-size: 0.8rem;
  opacity: 0.7;
}

@media only screen and (max-width: 730px) {
  #courses {
    padding: 0.89rem;
  }

  .course-row {
    display: block;
    margin-bottom: 0;
  }

  .course {
    margin-bottom: 0.5rem;
    width: 100%;
    background-color: #FFFDF8;
  }

  .course:hover {
    background-color: #A1967C;
  }

  .course-row:last-child .course:last-child {
    margin-bottom: 0;
  }

  .course img {
    display: none;
  }

  .course-description {
    padding: 0.89rem;
  }

  .course-header {
    margin-bottom: 1.33rem;
  }

  .course-list-header {
    display: none;
  }

  .course-list {
    display: none;
  }
}

#exhibit {
  padding: 1.78rem 0 1.78rem 1.33rem;
  background-color: #F1F0EE;
}

.exhibit-content {
  display: flex;
}

.exhibit-main {
  width: 60%;
  padding-right: 1.33rem;
}

.exhibit-main video {
  width: 100%;
}

.exhibit-main-header {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.33rem 0;
  opacity: 0.7;
}

.exhibit-main-content {
  font-size: 0.8rem;
  opacity: 0.7;
}

.exhibit-side {
  width: 40%;
}

.exhibit-element {
  display: flex;
  transition: background-color 0.5s ease-out 0.2s;
}

.exhibit-element:hover {
  background-color: #C6C6C6;
}

.exhibit-element img {
  width: 35%;
  height: 100%;
  padding: 0.89rem;
}

.exhibit-side-description {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.5rem;
}

.exhibit-side-header {
  font-weight: bold;
  padding-bottom: 1rem;
  opacity: 0.7;
}

.exhibit-side-content {
  font-size: 0.7rem;
  opacity: 0.7;
}

@media only screen and (max-width: 730px) {
  #exhibit {
    padding: 0.89rem;
  }

  .exhibit-header {
    margin-bottom: 1.33rem;
  }

  .exhibit-main {
    width: 100%;
    padding-right: 0;
  }

  .exhibit-main-description {
    display: none;
  }

  .exhibit-side {
    display: none;
  }
}

footer {
  padding: 0.89rem 1.33rem 2rem 1.33rem;
  background-color: #F1F0EE;
  border-top: 0.01rem solid #C6C6C6;
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
  font-family: Open Sans, sans-serif;
  opacity: 0.7;
}

footer a {
  text-decoration: none;
  color: #000000;
  transition: all 0.5s ease-out;
  padding-left: 0.5rem;
}

footer a:hover {
  color: #052E8C;
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  footer {
    justify-content: center;
  }

  .footer-links {
    display: none;
  }
}
